.infoo {
    position: absolute;
    padding: 5px 0;
    right: 15px;
}

body.sidebar-collapse aside .sidebar .infoo {
    position: absolute;
    padding: 5px 0;
    right: 15px;
    z-index: 1;
}

body.sidebar-collapse aside .sidebar .image {
    z-index: 2;
}

/* .content-wrapper {
    background-color: rgb(190, 233, 181);
} */

.toast-success {
    background-color: #51a351 !important;
}

.toast-error {
    background-color: #bd362f !important;
}

.toast-top-center {
    top: 50px;
    left: 0;
    position: absolute;
    text-align: center;
}
